header .wp-block-navigation .wp-block-navigation__submenu-container {
	border: none !important;
	font-size: 14px;
	line-height: 1.4;
	border-radius: 5px;
	margin-left: calc(var(--wp--preset--spacing--medium) * -1);
	padding: 0;
	z-index: 20 !important;
	background: var(--wp--preset--color--base) !important;
	border: 1px solid var(--wp--preset--color--contrast) !important;
	border-radius: 4px !important;
}



@media only screen and (min-width: 600px) {
    header .wp-block-navigation :where(.wp-block-navigation__submenu-container) li:first-child {
        border-radius: 4px;
    }

	header .wp-block-navigation :where(.wp-block-navigation__submenu-container) li:last-child {
        border-radius: 4px;
    }
}

header .wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container {
	margin-left: -5px;
	margin-top: calc(var(--wp--preset--spacing--small) * -1);
	top: 0 !important;
}

@media only screen and (min-width: 600px) {
	header .wp-block-navigation :where(.wp-block-navigation__submenu-container) li:first-child {
		padding-top: var(--wp--preset--spacing--xx-small);
	}

	header .wp-block-navigation :where(.wp-block-navigation__submenu-container) li:last-child {
		padding-bottom: var(--wp--preset--spacing--xx-small);
	}
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-icon {
	margin-right: var(--wp--preset--spacing--x-small);
}

@media (min-width: 782px) {

	.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container {
		left: 100% !important;
		top: 40px !important;
	}

}

@media only screen and (max-width: 600px) {

	.has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog {
		margin-top: 0;
	}

	.is-menu-open.has-modal-open {
		padding: var(--wp--preset--spacing--medium);
		background: var(--wp--preset--color--base) !important;

	}

	.is-menu-open.has-modal-open .wp-block-navigation__responsive-container-content {
		padding-top: 46px !important;
	}

	.is-menu-open.has-modal-open .wp-block-navigation__container {
		width: 100%;
		gap: 0 !important;
	}

	.is-menu-open.has-modal-open .wp-block-navigation__container ul {
		margin-left: 15px;
	}

	.is-menu-open.has-modal-open ul.wp-block-navigation__submenu-container {
		border-radius: 0;
		margin: 5px 0;
	}

	.is-menu-open.has-modal-open .wp-block-navigation__container>li {
		width: 100%;
		padding: 0 0;
		position: relative;
	}

	.is-menu-open.has-modal-open .wp-block-navigation__container ul li a:before {
		content: "\25A0";
		position: absolute;
		left: -20px;
	}

	.is-menu-open.has-modal-open .wp-block-navigation__container ul li:hover a:hover:before {
		text-decoration: none;
	}

	.is-menu-open.has-modal-open .wp-block-navigation__container>li:first-child>a {
		padding-top: 0 !important;
	}

	.is-menu-open.has-modal-open .wp-block-navigation-item .wp-block-navigation__submenu-container {
		padding: 0 0 0 var(--wp--preset--spacing--large);
		font-size: var(--wp--preset--font-size--base);
		margin-left: 0;
		width: 100% !important;
	}

	.is-menu-open.has-modal-open .wp-block-navigation-item__content {
		width: 100%;
		padding: var(--wp--preset--spacing--x-small) 0 0 !important;
	}

	.wp-block-navigation__responsive-container-close,
	.wp-block-navigation__responsive-container-open {
		padding: 4px;
		border-radius: 3px;
		background: var(--wp--preset--color--base);
		color: var(--wp--preset--color--secondary);
	}

	.wp-block-navigation__responsive-container-close {
		background: var(--wp--preset--color--base);
		color: var(--wp--preset--color--secondary);
	}

	.is-menu-open .wp-block-navigation__submenu-container {
		background: var(--wp--preset--color--base);
		box-shadow: none !important;
		padding-top: var(--wp--preset--spacing--small);
	}

	.is-menu-open.has-modal-open .wp-block-navigation__container .wp-element-button {
		margin-top: var(--wp--preset--spacing--small);
	}

	.is-menu-open.has-modal-open .wp-block-navigation__container .wp-element-button .wp-block-navigation-item__content {
		width: 100%;
		text-align: center;
		font-size: var(--wp--preset--font-size--base);
		padding: var(--wp--preset--spacing--small) !important;
	}
}