<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"header","className":"entry-header","style":{"spacing":{"blockGap":"0px","padding":{"top":"64px","bottom":"64px","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"margin":{"top":"0","bottom":"32px"}},"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"border":{"bottom":{"color":"var:preset|color|contrast","width":"1px"}}},"textColor":"base","layout":{"type":"constrained"}} -->
<header class="wp-block-group entry-header has-base-color has-text-color has-link-color" style="border-bottom-color:var(--wp--preset--color--contrast);border-bottom-width:1px;margin-top:0;margin-bottom:32px;padding-top:64px;padding-right:var(--wp--preset--spacing--small);padding-bottom:64px;padding-left:var(--wp--preset--spacing--small)"><!-- wp:post-title {"textAlign":"left","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"textColor":"secondary","fontSize":"x-large"} /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0","bottom":"var:preset|spacing|large"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:0;padding-bottom:var(--wp--preset--spacing--large)"><!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:post-content {"layout":{"type":"default"}} /--></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->