<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"entry-header","style":{"spacing":{"blockGap":"var:preset|spacing|xx-small","padding":{"top":"64px","bottom":"64px","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"border":{"bottom":{"color":"var:preset|color|contrast","width":"1px"}}},"textColor":"secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-group entry-header has-secondary-color has-text-color has-link-color" style="border-bottom-color:var(--wp--preset--color--contrast);border-bottom-width:1px;margin-top:0;margin-bottom:0;padding-top:64px;padding-right:0;padding-bottom:64px;padding-left:0"><!-- wp:query-title {"type":"search","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"x-large"} /--></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"compendium/posts"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->